@import '@/uni_modules/uni-scss/variables.scss';

//不是很白的白
$light_white:#f7f7f7;
//背景蓝
$back_blue:linear-gradient(220.55deg, #cde7ff 0%, #ffb4f9 100%);
//不怎么蓝的蓝
$light_blue:#DFF4FD;
//框选选中颜色
$select_orange:#FDD8A6;
//有点灰
$little_grey:#c1c1c1;
